<!--<input id="colorPicker" class="jscolor" value="ab2567" (change)="changeCanvasColor(getElementById('colorPicker').value)">-->
<button type="w3-circle button" class="white" (click)="changeCanvasColor('#fff')"><span></span></button>
<button type="button" class="red" (click)="changeCanvasColor('#f00')"><span></span></button>
<button type="button" class="orange" (click)="changeCanvasColor('#ff8000')"><span></span></button>
<button type="button" class="yellow" (click)="changeCanvasColor('#ffff00')"><span></span></button>
<button type="button" class="green" (click)="changeCanvasColor('#00cc00')"><span></span></button>
<br />
<button type="button" class="blue" (click)="changeCanvasColor('#00f')"><span></span></button>
<button type="button" class="indigo" (click)="changeCanvasColor('#6600cc')"><span></span></button>
<button type="button" class="violet" (click)="changeCanvasColor('#990099')"><span></span></button>
<button type="button" class="gray" (click)="changeCanvasColor('#999999')"><span></span></button>
<button type="button" class="black" (click)="changeCanvasColor('#000')"><span></span></button>