<div ng-controller="AppController">
        <div class="tab-content">
            <div class="tab-pane active" id="a">
                <h2>Image</h2>
                
                <table>
                    <tbody>
                        <tr *ngFor="let entry of entries; let idx = index">
                            <td>{{ entry.description }}</td>
                            <td>
                                <input type="radio" name="certificategroup" (change)="onOrientationChange(entry)" [checked]="idx === 0" [value]="entry.value">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <input type="file" id="imageLoader" name="imageLoader" (change)="handleImage($event)" />
            </div>
            <div class="tab-pane" id="b">
                <h2>Background Color</h2>
                <pc-colorPicker>Loading Color Picker...</pc-colorPicker>
            </div>
            <div class="tab-pane" id="c">
                <h2>Image Caption</h2>
                <pc-captionAdder>Loading Caption Editor...</pc-captionAdder>
            </div>
        </div>
    </div>